# Homework-01
#### Name: Muhammad Talha Salani
#### ID: ms07725
#### Email: ms07725@st.habib.edu.pk

## Part-1 (40 points)

###### Format the 580SurveyCleanup2.csv dataset using Python. See the Week2-Class DataWrangling.ipynb file for starter code.

In [210]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [211]:
df = pd.read_csv('580SurveyCleanup2.csv', header = 1)

In [212]:
df

,No.,Time,Status,Duration (Seconds),Access Code,Email Address,IP Address,Country,Region,City / Town / District,...,Some familiarity.2,Average user.2,Frequent use for projects.2,Fluent/expert.2,Yes,No,Yes.1,No.1,Not sure,What is your goal for learning about data analytics?
0,1,10/3/2023 17:49,Completed,11646,NaN,NaN,100.36.167.226,United States,Virginia,Fairfax,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
1,2,10/3/2023 17:49,Completed,113,NaN,NaN,98.169.26.134,United States,Virginia,Fairfax,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
2,3,10/3/2023 17:49,Completed,572,NaN,NaN,98.169.52.23,United States,Virginia,Greenway Downs,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,"As part of my work, I have access to a lot of ..."
3,4,10/3/2023 17:50,Completed,365,NaN,NaN,69.255.182.253,United States,Virginia,Gainesville,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
4,5,10/3/2023 17:51,Completed,92,NaN,NaN,138.88.108.230,United States,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,Learn
5,6,10/3/2023 17:59,Incomplete,221,NaN,NaN,108.56.134.80,United States,Virginia,Reston,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
6,7,10/3/2023 18:23,Completed,115983,NaN,NaN,108.48.175.220,United States,Virginia,Arlington,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,To deduce meaningful interpretation for Financ...
7,8,10/3/2023 19:10,Incomplete,40,NaN,NaN,173.67.199.85,United States,Virginia,Ashburn,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
8,9,10/3/2023 19:25,Completed,137,NaN,NaN,74.96.114.12,United States,Virginia,Woodbridge,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
9,10,10/3/2023 19:56,Incomplete,179,NaN,NaN,107.77.241.32,United States,Texas,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
10,11,10/3/2023 20:14,Completed,127,NaN,NaN,138.88.182.245,United States,Maryland,Takoma Park,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,To see if it is a field I am interested in pur...
11,12,10/3/2023 21:38,Completed,269,NaN,NaN,72.83.246.60,United States,Virginia,Fairfax,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,To learn and explore cutting edge data technol...
12,13,10/3/2023 21:41,Completed,117,NaN,NaN,96.241.43.105,United States,Virginia,Chantilly,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,Learn to select the appropriate tools to condu...
13,14,10/3/2023 22:49,Completed,5966,NaN,NaN,71.191.72.223,United States,Virginia,Burke,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
14,15,10/3/2023 23:25,Completed,254,NaN,NaN,73.134.53.227,United States,Maryland,Hyattsville,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,improve my skills
15,16,10/4/2023 0:28,Completed,526,NaN,NaN,73.86.219.52,United States,Maryland,Baltimore,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,My professional goal is to become a Financial ...
16,17,10/4/2023 5:22,Completed,398,NaN,NaN,69.138.215.127,United States,Virginia,Arlington,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,able to compliment my Computational Social Sci...
17,18,10/4/2023 5:36,Completed,128253,NaN,NaN,72.196.231.70,United States,Virginia,Springfield,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,To start a company
18,19,10/4/2023 5:47,Completed,239,NaN,NaN,100.15.54.17,United States,Virginia,Woodbridge,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,To be able understand and manipulate data to m...
19,20,10/4/2023 10:32,Completed,255,NaN,NaN,184.170.83.239,United States,Virginia,Rustburg,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,My ultimate goal is to get a job as a sports a...
20,21,10/4/2023 11:03,Completed,256,NaN,NaN,100.36.243.102,United States,Virginia,Fairfax,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,To understand how to properly interpret and di...
21,22,10/4/2023 12:34,Completed,674,NaN,NaN,108.56.134.80,United States,Virginia,Reston,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,"After graduating data analytics, I want myself..."
22,23,10/4/2023 13:36,Completed,130,NaN,NaN,73.163.163.82,United States,Maryland,Baltimore,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,Learning how to appropriately handle large qua...
23,24,10/4/2023 13:50,Completed,275,NaN,NaN,138.88.223.87,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,To learn and understand the fundamentals and m...
24,25,10/4/2023 21:28,Completed,325,NaN,NaN,100.36.50.114,United States,NaN,NaN,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,The goal is to learn as many programming/stati...
25,26,10/5/2023 9:37,Completed,257,NaN,NaN,108.51.59.195,United States,Virginia,Burke,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,Learning analytics tool and being good at them
26,27,10/5/2023 9:36,Completed,657,NaN,NaN,72.83.246.219,United States,Virginia,Fairfax,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,I want to be as a data analyst
27,28,10/5/2023 10:36,Completed,1750,NaN,NaN,100.36.118.186,United States,Virginia,Burke,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,It is very relevant to my PhD research area an...
28,29,10/5/2023 11:02,Completed,887,NaN,NaN,172.58.187.98,United States,Maryland,Baltimore,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,Learn how to handle large amount structured an...
29,30,10/5/2023 11:17,Completed,180,NaN,NaN,72.196.230.201,United States,Virginia,Springfield,...,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,To become a good Data Analyst and work for top...
30,31,10/5/2023 12:52,Completed,392,NaN,NaN,108.18.111.204,United States,Virginia,Lorton,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,Get a better understanding of the granularity ...
31,32,10/5/2023 12:56,Incomplete,192,NaN,NaN,71.191.72.223,United States,Virginia,Burke,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN
32,33,10/5/2023 13:52,Completed,277,NaN,NaN,184.191.72.8,United States,Virginia,Falls Church,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,Learn how data analytics works
33,34,10/5/2023 15:34,Completed,119,NaN,NaN,141.156.160.243,United States,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,Advance my career in data science
34,35,10/5/2023 15:41,Completed,149,NaN,NaN,71.206.51.121,United States,Maryland,Frederick,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,Getting a good job
35,36,10/5/2023 17:58,Completed,285,NaN,NaN,129.174.252.234,United States,Virginia,Fairfax,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,to use the skills at work.

In [213]:
column_mapping = {
    '002': 'Q1.002',
    '004': 'Q1.004',
    'Male': 'Q2.Male',
    'Female': 'Q2.Female',
    'NonBinary': 'Q2.NonBinary',
    'Prefer not to answer': 'Q2.PreferNotToAnswer',
    'Age (years)': 'Q3.Age',
    'Height (Inches)': 'Q4.Height',
    'Country of Citizenship': 'Q5.CountryOfCitizenship',
    'Undergraduate Degree': 'Q6.UndergradDegree',
    'Expected Graduation date from Mason MS program?': 'Q7.ExpectedGraduation',
    'Microsoft/Windows': 'Q8.MicrosoftWindows',
    'Apple/MacBook': 'Q8.AppleMacBook',
    'Other': 'Q8.Other',
    'Yes, Full Time': 'Q9.YesFullTime',
    'Working, but not Full Time': 'Q9.WorkingButNotFullTime',
    'Not Working while attending Mason': 'Q9.NotWorking',
    'Little/none': 'Q10.Little/None',   
    'Some familiarity': 'Q10.SomeFamiliarity',  
    'Average user': 'Q10.AverageUser',  
    'Frequent use for projects': 'Q10.FrequentUseForproj',
    'Fluent/expert': 'Q10.FluentExpert',
    
    'Little/none.1' : 'Q11.Little/none',
    'Some familiarity.1' : 'Q11.Some familiarity',
    'Average user.1' : 'Q11.Average user',
    'Frequent use for projects.1' : 'Q11.Frequent use for projects',
    'Fluent/expert.1' : 'Q11.Fluent/expert',

    'Little/none.2' : 'Q12.Little/none',
    'Some familiarity.2' : 'Q12.Some familiarity',
    'Average user.2' : 'Q12.Average user',
    'Frequent use for projects.2' : 'Q12.Frequent use for projects',
    'Fluent/expert.2' : 'Q12.Fluent/expert',
    
    'Yes': 'Q13.Yes',
    'No': 'Q13.No',
    'Yes.1' : 'Q14.Yes',
    'No.1' : 'Q14.No',
    
    'Not sure': 'Q14.NotSure',
    'What is your goal for learning about data analytics?': 'Q15.GoalForLearningDataAnalytics'
}

df.columns = [column_mapping.get(col, col) for col in df.columns]

In [214]:
df

,No.,Time,Status,Duration (Seconds),Access Code,Email Address,IP Address,Country,Region,City / Town / District,...,Q12.Some familiarity,Q12.Average user,Q12.Frequent use for projects,Q12.Fluent/expert,Q13.Yes,Q13.No,Q14.Yes,Q14.No,Q14.NotSure,Q15.GoalForLearningDataAnalytics
0,1,10/3/2023 17:49,Completed,11646,NaN,NaN,100.36.167.226,United States,Virginia,Fairfax,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
1,2,10/3/2023 17:49,Completed,113,NaN,NaN,98.169.26.134,United States,Virginia,Fairfax,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
2,3,10/3/2023 17:49,Completed,572,NaN,NaN,98.169.52.23,United States,Virginia,Greenway Downs,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,"As part of my work, I have access to a lot of ..."
3,4,10/3/2023 17:50,Completed,365,NaN,NaN,69.255.182.253,United States,Virginia,Gainesville,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
4,5,10/3/2023 17:51,Completed,92,NaN,NaN,138.88.108.230,United States,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,Learn
5,6,10/3/2023 17:59,Incomplete,221,NaN,NaN,108.56.134.80,United States,Virginia,Reston,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
6,7,10/3/2023 18:23,Completed,115983,NaN,NaN,108.48.175.220,United States,Virginia,Arlington,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,To deduce meaningful interpretation for Financ...
7,8,10/3/2023 19:10,Incomplete,40,NaN,NaN,173.67.199.85,United States,Virginia,Ashburn,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
8,9,10/3/2023 19:25,Completed,137,NaN,NaN,74.96.114.12,United States,Virginia,Woodbridge,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
9,10,10/3/2023 19:56,Incomplete,179,NaN,NaN,107.77.241.32,United States,Texas,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
10,11,10/3/2023 20:14,Completed,127,NaN,NaN,138.88.182.245,United States,Maryland,Takoma Park,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,To see if it is a field I am interested in pur...
11,12,10/3/2023 21:38,Completed,269,NaN,NaN,72.83.246.60,United States,Virginia,Fairfax,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,To learn and explore cutting edge data technol...
12,13,10/3/2023 21:41,Completed,117,NaN,NaN,96.241.43.105,United States,Virginia,Chantilly,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,Learn to select the appropriate tools to condu...
13,14,10/3/2023 22:49,Completed,5966,NaN,NaN,71.191.72.223,United States,Virginia,Burke,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
14,15,10/3/2023 23:25,Completed,254,NaN,NaN,73.134.53.227,United States,Maryland,Hyattsville,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,improve my skills
15,16,10/4/2023 0:28,Completed,526,NaN,NaN,73.86.219.52,United States,Maryland,Baltimore,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,My professional goal is to become a Financial ...
16,17,10/4/2023 5:22,Completed,398,NaN,NaN,69.138.215.127,United States,Virginia,Arlington,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,able to compliment my Computational Social Sci...
17,18,10/4/2023 5:36,Completed,128253,NaN,NaN,72.196.231.70,United States,Virginia,Springfield,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,To start a company
18,19,10/4/2023 5:47,Completed,239,NaN,NaN,100.15.54.17,United States,Virginia,Woodbridge,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,To be able understand and manipulate data to m...
19,20,10/4/2023 10:32,Completed,255,NaN,NaN,184.170.83.239,United States,Virginia,Rustburg,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,My ultimate goal is to get a job as a sports a...
20,21,10/4/2023 11:03,Completed,256,NaN,NaN,100.36.243.102,United States,Virginia,Fairfax,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,To understand how to properly interpret and di...
21,22,10/4/2023 12:34,Completed,674,NaN,NaN,108.56.134.80,United States,Virginia,Reston,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,"After graduating data analytics, I want myself..."
22,23,10/4/2023 13:36,Completed,130,NaN,NaN,73.163.163.82,United States,Maryland,Baltimore,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,Learning how to appropriately handle large qua...
23,24,10/4/2023 13:50,Completed,275,NaN,NaN,138.88.223.87,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,To learn and understand the fundamentals and m...
24,25,10/4/2023 21:28,Completed,325,NaN,NaN,100.36.50.114,United States,NaN,NaN,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,The goal is to learn as many programming/stati...
25,26,10/5/2023 9:37,Completed,257,NaN,NaN,108.51.59.195,United States,Virginia,Burke,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,Learning analytics tool and being good at them
26,27,10/5/2023 9:36,Completed,657,NaN,NaN,72.83.246.219,United States,Virginia,Fairfax,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,I want to be as a data analyst
27,28,10/5/2023 10:36,Completed,1750,NaN,NaN,100.36.118.186,United States,Virginia,Burke,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,It is very relevant to my PhD research area an...
28,29,10/5/2023 11:02,Completed,887,NaN,NaN,172.58.187.98,United States,Maryland,Baltimore,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,Learn how to handle large amount structured an...
29,30,10/5/2023 11:17,Completed,180,NaN,NaN,72.196.230.201,United States,Virginia,Springfield,...,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,To become a good Data Analyst and work for top...
30,31,10/5/2023 12:52,Completed,392,NaN,NaN,108.18.111.204,United States,Virginia,Lorton,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,Get a better understanding of the granularity ...
31,32,10/5/2023 12:56,Incomplete,192,NaN,NaN,71.191.72.223,United States,Virginia,Burke,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN
32,33,10/5/2023 13:52,Completed,277,NaN,NaN,184.191.72.8,United States,Virginia,Falls Church,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,Learn how data analytics works
33,34,10/5/2023 15:34,Completed,119,NaN,NaN,141.156.160.243,United States,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,Advance my career in data science
34,35,10/5/2023 15:41,Completed,149,NaN,NaN,71.206.51.121,United States,Maryland,Frederick,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,Getting a good job
35,36,10/5/2023 17:58,Completed,285,NaN,NaN,129.174.252.234,United States,Virginia,Fairfax,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,to use the skills at work.

In [215]:
df.to_csv("formatted_output_Part_1.csv", index=False, header=True)

## Part-2 (30 points)

In [217]:
df = pd.read_csv("formatted_output_Part_1.csv")

In [218]:
df.head()

,No.,Time,Status,Duration (Seconds),Access Code,Email Address,IP Address,Country,Region,City / Town / District,...,Q12.Some familiarity,Q12.Average user,Q12.Frequent use for projects,Q12.Fluent/expert,Q13.Yes,Q13.No,Q14.Yes,Q14.No,Q14.NotSure,Q15.GoalForLearningDataAnalytics
0,1,10/3/2023 17:49,Completed,11646,NaN,NaN,100.36.167.226,United States,Virginia,Fairfax,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
1,2,10/3/2023 17:49,Completed,113,NaN,NaN,98.169.26.134,United States,Virginia,Fairfax,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
2,3,10/3/2023 17:49,Completed,572,NaN,NaN,98.169.52.23,United States,Virginia,Greenway Downs,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,"As part of my work, I have access to a lot of ..."
3,4,10/3/2023 17:50,Completed,365,NaN,NaN,69.255.182.253,United States,Virginia,Gainesville,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
4,5,10/3/2023 17:51,Completed,92,NaN,NaN,138.88.108.230,United States,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,Learn

In [219]:
missing_values = df.isnull().sum()

In [220]:
missing_values

No.                                  0
Time                                 0
Status                               0
Duration (Seconds)                   0
Access Code                         36
Email Address                       36
IP Address                           0
Country                              0
Region                               4
City / Town / District               5
Latitude                             0
Longitude                            0
Q1.002                              16
Q1.004                              20
Q2.Male                             18
Q2.Female                           20
Q2.NonBinary                        35
Q2.PreferNotToAnswer                35
Q3.Age                               0
Q4.Height                            1
Q5.CountryOfCitizenship              2
Q6.UndergradDegree                   2
Q7.ExpectedGraduation                3
Q8.MicrosoftWindows                 12
Q8.AppleMacBook                     25
Q8.Other                            35
Unnamed: 26                         35
Q9.YesFullTime                      25
Q9.WorkingButNotFullTime            31
Q9.NotWorking                       19
Q10.Little/None                     32
Q10.SomeFamiliarity                 24
Q10.AverageUser                     21
Q10.FrequentUseForproj              34
Q10.FluentExpert                    36
Q11.Little/none                     28
Q11.Some familiarity                28
Q11.Average user                    27
Q11.Frequent use for projects       29
Q11.Fluent/expert                   35
Q12.Little/none                     31
Q12.Some familiarity                26
Q12.Average user                    21
Q12.Frequent use for projects       33
Q12.Fluent/expert                   36
Q13.Yes                             24
Q13.No                              12
Q14.Yes                             19
Q14.No                              27
Q14.NotSure                         26
Q15.GoalForLearningDataAnalytics     9
dtype: int64

In [221]:
columns_with_missing = df.columns[df.isnull().any()].tolist()

In [222]:
columns_with_missing

['Access Code',
 'Email Address',
 'Region',
 'City / Town / District',
 'Q1.002',
 'Q1.004',
 'Q2.Male',
 'Q2.Female',
 'Q2.NonBinary',
 'Q2.PreferNotToAnswer',
 'Q4.Height',
 'Q5.CountryOfCitizenship',
 'Q6.UndergradDegree',
 'Q7.ExpectedGraduation',
 'Q8.MicrosoftWindows',
 'Q8.AppleMacBook',
 'Q8.Other',
 'Unnamed: 26',
 'Q9.YesFullTime',
 'Q9.WorkingButNotFullTime',
 'Q9.NotWorking',
 'Q10.Little/None',
 'Q10.SomeFamiliarity',
 'Q10.AverageUser',
 'Q10.FrequentUseForproj',
 'Q10.FluentExpert',
 'Q11.Little/none',
 'Q11.Some familiarity',
 'Q11.Average user',
 'Q11.Frequent use for projects',
 'Q11.Fluent/expert',
 'Q12.Little/none',
 'Q12.Some familiarity',
 'Q12.Average user',
 'Q12.Frequent use for projects',
 'Q12.Fluent/expert',
 'Q13.Yes',
 'Q13.No',
 'Q14.Yes',
 'Q14.No',
 'Q14.NotSure',
 'Q15.GoalForLearningDataAnalytics']

In [223]:
new_df = df.copy()

In [224]:
def clean_data(new_df):
    new_df['Q1.002'] = new_df['Q1.002'].fillna(0)
    new_df['Q1.004'] = new_df['Q1.004'].fillna(0)
    
    new_df['Access Code'] = new_df['Access Code'].fillna('Unknown')
    new_df['Email Address'] = new_df['Email Address'].fillna('Unknown')
    
    new_df['Region'] = new_df['Region'].fillna('Unknown')
    new_df['City / Town / District'] = new_df['City / Town / District'].fillna('Unknown')
    
    gender_columns = ['Q2.Male', 'Q2.Female', 'Q2.NonBinary', 'Q2.PreferNotToAnswer']
    new_df[gender_columns] = new_df[gender_columns].fillna(0)

    new_df['Q3.Age'] = pd.to_numeric(new_df['Q3.Age'].str.replace(' ', ''), errors='coerce')

   

    new_df.loc[27, 'Q4.Height'] = 61
    new_df.loc[32, 'Q4.Height'] = 70

    new_df['Q5.CountryOfCitizenship'] = new_df['Q5.CountryOfCitizenship'].str.title()


    redundancy_map = {
    'Us': 'United States',
    'Usa': 'United States',
    'United States ': 'United States', 
    'United States ; Pakistan ': 'United States'  
    }

    new_df['Q5.CountryOfCitizenship'] = new_df['Q5.CountryOfCitizenship'].replace(redundancy_map)

    new_df['Q6.UndergradDegree'] = new_df['Q6.UndergradDegree'].str.title()


    personal_columns = ['Q4.Height', 'Q5.CountryOfCitizenship', 'Q6.UndergradDegree', 'Q7.ExpectedGraduation']
    new_df[personal_columns] = new_df[personal_columns].fillna('Not Provided')
    
    device_columns = ['Q8.MicrosoftWindows', 'Q8.AppleMacBook', 'Q8.Other']
    new_df[device_columns] = new_df[device_columns].fillna(0)

    
    
    if 'Unnamed: 26' in df.columns:
        new_df.drop(columns=['Unnamed: 26'], inplace=True)
    
    survey_columns = ['Q9.YesFullTime', 'Q9.WorkingButNotFullTime', 'Q9.NotWorking', 'Q10.Little/None', 
                      'Q10.SomeFamiliarity', 'Q10.AverageUser', 'Q10.FrequentUseForproj', 'Q10.FluentExpert', 
                      'Q11.Little/none', 'Q11.Some familiarity', 'Q11.Average user', 'Q11.Frequent use for projects', 
                      'Q11.Fluent/expert', 'Q12.Little/none', 'Q12.Some familiarity', 'Q12.Average user', 
                      'Q12.Frequent use for projects', 'Q12.Fluent/expert', 'Q13.Yes', 'Q13.No', 
                      'Q14.Yes', 'Q14.No', 'Q14.NotSure']
    new_df[survey_columns] = new_df[survey_columns].fillna(0)
    
    new_df['Q15.GoalForLearningDataAnalytics'] = new_df['Q15.GoalForLearningDataAnalytics'].fillna('Not Provided')
    
    return new_df

cleaned_df = clean_data(new_df)

In [225]:
cleaned_df

,No.,Time,Status,Duration (Seconds),Access Code,Email Address,IP Address,Country,Region,City / Town / District,...,Q12.Some familiarity,Q12.Average user,Q12.Frequent use for projects,Q12.Fluent/expert,Q13.Yes,Q13.No,Q14.Yes,Q14.No,Q14.NotSure,Q15.GoalForLearningDataAnalytics
0,1,10/3/2023 17:49,Completed,11646,Unknown,Unknown,100.36.167.226,United States,Virginia,Fairfax,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,Not Provided
1,2,10/3/2023 17:49,Completed,113,Unknown,Unknown,98.169.26.134,United States,Virginia,Fairfax,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,Not Provided
2,3,10/3/2023 17:49,Completed,572,Unknown,Unknown,98.169.52.23,United States,Virginia,Greenway Downs,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,"As part of my work, I have access to a lot of ..."
3,4,10/3/2023 17:50,Completed,365,Unknown,Unknown,69.255.182.253,United States,Virginia,Gainesville,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,Not Provided
4,5,10/3/2023 17:51,Completed,92,Unknown,Unknown,138.88.108.230,United States,Unknown,Unknown,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,Learn
5,6,10/3/2023 17:59,Incomplete,221,Unknown,Unknown,108.56.134.80,United States,Virginia,Reston,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,Not Provided
6,7,10/3/2023 18:23,Completed,115983,Unknown,Unknown,108.48.175.220,United States,Virginia,Arlington,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,To deduce meaningful interpretation for Financ...
7,8,10/3/2023 19:10,Incomplete,40,Unknown,Unknown,173.67.199.85,United States,Virginia,Ashburn,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,Not Provided
8,9,10/3/2023 19:25,Completed,137,Unknown,Unknown,74.96.114.12,United States,Virginia,Woodbridge,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,Not Provided
9,10,10/3/2023 19:56,Incomplete,179,Unknown,Unknown,107.77.241.32,United States,Texas,Unknown,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Not Provided
10,11,10/3/2023 20:14,Completed,127,Unknown,Unknown,138.88.182.245,United States,Maryland,Takoma Park,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,To see if it is a field I am interested in pur...
11,12,10/3/2023 21:38,Completed,269,Unknown,Unknown,72.83.246.60,United States,Virginia,Fairfax,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,To learn and explore cutting edge data technol...
12,13,10/3/2023 21:41,Completed,117,Unknown,Unknown,96.241.43.105,United States,Virginia,Chantilly,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,Learn to select the appropriate tools to condu...
13,14,10/3/2023 22:49,Completed,5966,Unknown,Unknown,71.191.72.223,United States,Virginia,Burke,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,Not Provided
14,15,10/3/2023 23:25,Completed,254,Unknown,Unknown,73.134.53.227,United States,Maryland,Hyattsville,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,improve my skills
15,16,10/4/2023 0:28,Completed,526,Unknown,Unknown,73.86.219.52,United States,Maryland,Baltimore,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,My professional goal is to become a Financial ...
16,17,10/4/2023 5:22,Completed,398,Unknown,Unknown,69.138.215.127,United States,Virginia,Arlington,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,able to compliment my Computational Social Sci...
17,18,10/4/2023 5:36,Completed,128253,Unknown,Unknown,72.196.231.70,United States,Virginia,Springfield,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,To start a company
18,19,10/4/2023 5:47,Completed,239,Unknown,Unknown,100.15.54.17,United States,Virginia,Woodbridge,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,To be able understand and manipulate data to m...
19,20,10/4/2023 10:32,Completed,255,Unknown,Unknown,184.170.83.239,United States,Virginia,Rustburg,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,My ultimate goal is to get a job as a sports a...
20,21,10/4/2023 11:03,Completed,256,Unknown,Unknown,100.36.243.102,United States,Virginia,Fairfax,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,To understand how to properly interpret and di...
21,22,10/4/2023 12:34,Completed,674,Unknown,Unknown,108.56.134.80,United States,Virginia,Reston,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,"After graduating data analytics, I want myself..."
22,23,10/4/2023 13:36,Completed,130,Unknown,Unknown,73.163.163.82,United States,Maryland,Baltimore,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,Learning how to appropriately handle large qua...
23,24,10/4/2023 13:50,Completed,275,Unknown,Unknown,138.88.223.87,United States,Unknown,Unknown,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,To learn and understand the fundamentals and m...
24,25,10/4/2023 21:28,Completed,325,Unknown,Unknown,100.36.50.114,United States,Unknown,Unknown,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,The goal is to learn as many programming/stati...
25,26,10/5/2023 9:37,Completed,257,Unknown,Unknown,108.51.59.195,United States,Virginia,Burke,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Learning analytics tool and being good at them
26,27,10/5/2023 9:36,Completed,657,Unknown,Unknown,72.83.246.219,United States,Virginia,Fairfax,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,I want to be as a data analyst
27,28,10/5/2023 10:36,Completed,1750,Unknown,Unknown,100.36.118.186,United States,Virginia,Burke,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,It is very relevant to my PhD research area an...
28,29,10/5/2023 11:02,Completed,887,Unknown,Unknown,172.58.187.98,United States,Maryland,Baltimore,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,Learn how to handle large amount structured an...
29,30,10/5/2023 11:17,Completed,180,Unknown,Unknown,72.196.230.201,United States,Virginia,Springfield,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,To become a good Data Analyst and work for top...
30,31,10/5/2023 12:52,Completed,392,Unknown,Unknown,108.18.111.204,United States,Virginia,Lorton,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,Get a better understanding of the granularity ...
31,32,10/5/2023 12:56,Incomplete,192,Unknown,Unknown,71.191.72.223,United States,Virginia,Burke,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,Not Provided
32,33,10/5/2023 13:52,Completed,277,Unknown,Unknown,184.191.72.8,United States,Virginia,Falls Church,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Learn how data analytics works
33,34,10/5/2023 15:34,Completed,119,Unknown,Unknown,141.156.160.243,United States,Unknown,Unknown,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,Advance my career in data science
34,35,10/5/2023 15:41,Completed,149,Unknown,Unknown,71.206.51.121,United States,Maryland,Frederick,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Getting a good job
35,36,10/5/2023 17:58,Completed,285,Unknown,Unknown,129.174.252.234,United States,Virginia,Fairfax,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,to use the skills at work.

### Discussion: 

#### To handle missing values in the dataset, each column was examined based on its content and purpose. For identifier and contact details such as 'Access Code' and 'Email Address', missing values were filled with 'Unknown' to avoid making incorrect assumptions. Geographic information like 'Region' and 'City / Town / District' was also filled with 'Unknown' due to the wide variability and lack of a logical mean or mode for imputation. Columns with categorical data, like 'Q5.CountryOfCitizenship', were filled with 'Not Provided' to maintain data integrity without introducing biases. In numeric survey response columns (e.g., Q8, Q9), missing values were replaced with 0, reflecting non-participation or zero count, which aligns with the survey's intent.

#### General data cleaning involved removing white spaces, standardizing casing, and consolidating redundant entries to ensure consistency and readability. This approach prioritizes transparency, avoiding assumptions that could skew the data. By using placeholders like 'Unknown' or 'Not Provided', the dataset maintains clarity about missing data while staying prepared for further analysis or modeling. Numeric fills such as 0 were used where appropriate, preserving the logical structure of the data without altering its distribution significantly.

In [227]:
# we can drop access code and email columns since they are entirely empty!

In [228]:
cleaned_df.drop(['Access Code','Email Address'], axis=1, inplace=True)

In [229]:
cleaned_df.head()

,No.,Time,Status,Duration (Seconds),IP Address,Country,Region,City / Town / District,Latitude,Longitude,...,Q12.Some familiarity,Q12.Average user,Q12.Frequent use for projects,Q12.Fluent/expert,Q13.Yes,Q13.No,Q14.Yes,Q14.No,Q14.NotSure,Q15.GoalForLearningDataAnalytics
0,1,10/3/2023 17:49,Completed,11646,100.36.167.226,United States,Virginia,Fairfax,-77.2891,38.8209,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,Not Provided
1,2,10/3/2023 17:49,Completed,113,98.169.26.134,United States,Virginia,Fairfax,-77.2630,38.8605,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,Not Provided
2,3,10/3/2023 17:49,Completed,572,98.169.52.23,United States,Virginia,Greenway Downs,-77.2331,38.9645,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,"As part of my work, I have access to a lot of ..."
3,4,10/3/2023 17:50,Completed,365,69.255.182.253,United States,Virginia,Gainesville,-77.6308,38.8175,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,Not Provided
4,5,10/3/2023 17:51,Completed,92,138.88.108.230,United States,Unknown,Unknown,-97.8220,37.7510,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,Learn

In [230]:
output_filename='cleaned_output_Part_2.csv'
cleaned_df.to_csv(output_filename, index=False)

print(f"Cleaned data saved to {output_filename}")

Cleaned data saved to cleaned_output_Part_2.csv

## Part-3 (30 points)

#### Use the cleaned data from Part 2, prepare statistical summaries (counts, mean, unique etc.) for Questions Q1-Q14. You can just use describe() function in Pandas for this task. You can ignore Q15 as it has text. If you like to work on Q15, you are welcome to do so. Tell the useful story/insights for each question based on statistical summary from this survey data. Use the 580SurveyQuestion.pdf file to review the actual question of the survey and use it in your insights to make it more engaging.

In [233]:
df = pd.read_csv('cleaned_output_Part_2.csv')

In [234]:
columns = df.columns[10:47]

for col in columns:
    print(f"Statistical Summary for {col}:\n")
    print(df[col].describe(include='all'))
    print("\n" + "-" * 50 + "\n")

Statistical Summary for Q1.002:

count    36.000000
mean      0.555556
std       0.503953
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000
Name: Q1.002, dtype: float64

--------------------------------------------------

Statistical Summary for Q1.004:

count    36.000000
mean      0.444444
std       0.503953
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q1.004, dtype: float64

--------------------------------------------------

Statistical Summary for Q2.Male:

count    36.000000
mean      0.500000
std       0.507093
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000
Name: Q2.Male, dtype: float64

--------------------------------------------------

Statistical Summary for Q2.Female:

count    36.000000
mean      0.444444
std       0.503953
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q2.Female, dtype: float64

--------------------------------------------------

Statistical Summary for Q2.NonBinary:

count    36.000000
mean      0.027778
std       0.166667
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q2.NonBinary, dtype: float64

--------------------------------------------------

Statistical Summary for Q2.PreferNotToAnswer:

count    36.000000
mean      0.027778
std       0.166667
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q2.PreferNotToAnswer, dtype: float64

--------------------------------------------------

Statistical Summary for Q3.Age:

count      36.000000
mean       81.666667
std       327.721310
min        22.000000
25%        23.000000
50%        25.000000
75%        28.000000
max      1993.000000
Name: Q3.Age, dtype: float64

--------------------------------------------------

Statistical Summary for Q4.Height:

count     36
unique    19
top       70
freq       5
Name: Q4.Height, dtype: object

--------------------------------------------------

Statistical Summary for Q5.CountryOfCitizenship:

count                36
unique               15
top       United States
freq                 10
Name: Q5.CountryOfCitizenship, dtype: object

--------------------------------------------------

Statistical Summary for Q6.UndergradDegree:

count            36
unique           29
top       Economics
freq              4
Name: Q6.UndergradDegree, dtype: object

--------------------------------------------------

Statistical Summary for Q7.ExpectedGraduation:

count             36
unique            25
top       12/31/2021
freq               3
Name: Q7.ExpectedGraduation, dtype: object

--------------------------------------------------

Statistical Summary for Q8.MicrosoftWindows:

count    36.000000
mean      0.638889
std       0.487136
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000
Name: Q8.MicrosoftWindows, dtype: float64

--------------------------------------------------

Statistical Summary for Q8.AppleMacBook:

count    36.000000
mean      0.333333
std       0.534522
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       2.000000
Name: Q8.AppleMacBook, dtype: float64

--------------------------------------------------

Statistical Summary for Q8.Other:

count    36.000000
mean      0.027778
std       0.166667
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q8.Other, dtype: float64

--------------------------------------------------

Statistical Summary for Q9.YesFullTime:

count    36.000000
mean      0.305556
std       0.467177
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q9.YesFullTime, dtype: float64

--------------------------------------------------

Statistical Summary for Q9.WorkingButNotFullTime:

count    36.000000
mean      0.138889
std       0.350736
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q9.WorkingButNotFullTime, dtype: float64

--------------------------------------------------

Statistical Summary for Q9.NotWorking:

count    36.000000
mean      0.472222
std       0.506309
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q9.NotWorking, dtype: float64

--------------------------------------------------

Statistical Summary for Q10.Little/None:

count    36.000000
mean      0.111111
std       0.318728
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q10.Little/None, dtype: float64

--------------------------------------------------

Statistical Summary for Q10.SomeFamiliarity:

count    36.000000
mean      0.333333
std       0.478091
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q10.SomeFamiliarity, dtype: float64

--------------------------------------------------

Statistical Summary for Q10.AverageUser:

count    36.000000
mean      0.416667
std       0.500000
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q10.AverageUser, dtype: float64

--------------------------------------------------

Statistical Summary for Q10.FrequentUseForproj:

count    36.000000
mean      0.055556
std       0.232311
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q10.FrequentUseForproj, dtype: float64

--------------------------------------------------

Statistical Summary for Q10.FluentExpert:

count    36.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name: Q10.FluentExpert, dtype: float64

--------------------------------------------------

Statistical Summary for Q11.Little/none:

count    36.000000
mean      0.222222
std       0.421637
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q11.Little/none, dtype: float64

--------------------------------------------------

Statistical Summary for Q11.Some familiarity:

count    36.000000
mean      0.222222
std       0.421637
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q11.Some familiarity, dtype: float64

--------------------------------------------------

Statistical Summary for Q11.Average user:

count    36.000000
mean      0.250000
std       0.439155
min       0.000000
25%       0.000000
50%       0.000000
75%       0.250000
max       1.000000
Name: Q11.Average user, dtype: float64

--------------------------------------------------

Statistical Summary for Q11.Frequent use for projects:

count    36.000000
mean      0.194444
std       0.401386
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q11.Frequent use for projects, dtype: float64

--------------------------------------------------

Statistical Summary for Q11.Fluent/expert:

count    36.000000
mean      0.027778
std       0.166667
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q11.Fluent/expert, dtype: float64

--------------------------------------------------

Statistical Summary for Q12.Little/none:

count    36.000000
mean      0.138889
std       0.350736
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q12.Little/none, dtype: float64

--------------------------------------------------

Statistical Summary for Q12.Some familiarity:

count    36.000000
mean      0.277778
std       0.454257
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q12.Some familiarity, dtype: float64

--------------------------------------------------

Statistical Summary for Q12.Average user:

count    36.000000
mean      0.416667
std       0.500000
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q12.Average user, dtype: float64

--------------------------------------------------

Statistical Summary for Q12.Frequent use for projects:

count    36.000000
mean      0.083333
std       0.280306
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
Name: Q12.Frequent use for projects, dtype: float64

--------------------------------------------------

Statistical Summary for Q12.Fluent/expert:

count    36.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name: Q12.Fluent/expert, dtype: float64

--------------------------------------------------

Statistical Summary for Q13.Yes:

count    36.000000
mean      0.333333
std       0.478091
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q13.Yes, dtype: float64

--------------------------------------------------

Statistical Summary for Q13.No:

count    36.000000
mean      0.666667
std       0.478091
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000
Name: Q13.No, dtype: float64

--------------------------------------------------

Statistical Summary for Q14.Yes:

count    36.000000
mean      0.472222
std       0.506309
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q14.Yes, dtype: float64

--------------------------------------------------

Statistical Summary for Q14.No:

count    36.000000
mean      0.250000
std       0.439155
min       0.000000
25%       0.000000
50%       0.000000
75%       0.250000
max       1.000000
Name: Q14.No, dtype: float64

--------------------------------------------------

Statistical Summary for Q14.NotSure:

count    36.000000
mean      0.277778
std       0.454257
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000
Name: Q14.NotSure, dtype: float64

--------------------------------------------------

## Results Interpretation:

### Q1: AIT-580 Section (Q1.002, Q1.004)

Survey Question: "AIT-580 Section? 002, 004"

Insight: A slight majority (55.6%) of the respondents are from Section 002, with the remaining 44.4% from Section 004. This nearly equal distribution suggests a balanced participation from both sections.

### Q2: Gender (Q2.Male, Q2.Female, Q2.NonBinary, Q2.PreferNotToAnswer)

Survey Question: "Gender? Male, Female, NonBinary, Prefer not to answer"

Insight: Half of the respondents identify as male (50%), followed by females (44.4%), with a very small percentage identifying as non-binary or preferring not to disclose. This indicates a predominantly binary gender representation.

### Q3: Age (Q3.Age)

Survey Question: "Age (years)"

Insight: The mean age of 81.67 and a maximum of 1993 suggest errors in the age data, possibly from incorrect data entry. Excluding outliers, ages cluster around the early to mid-20s, reflecting the typical age range of graduate students.

### Q4: Height (Q4.Height)

Survey Question: "Height (Inches)"

Insight: Heights vary significantly, with 70 inches being the most common. This data reflects a broad distribution of heights, possibly indicating a diverse group of participants.

### Q5: Country of Citizenship (Q5.CountryOfCitizenship)

Survey Question: "Country of Citizenship"

Insight: Most respondents are from the United States (28%), with others from 14 different countries, highlighting the international diversity of the cohort.

### Q6: Undergraduate Degree (Q6.UndergradDegree)

Survey Question: "Undergraduate Degree"

Insight: There is a wide variety of undergraduate degrees, with Economics being the most frequent (11%). This suggests that students from diverse academic backgrounds are pursuing data analytics.

### Q7: Expected Graduation Date (Q7.ExpectedGraduation)

Survey Question: "Expected Graduation date from Mason MS program?"

Insight: Graduation dates are varied, with "12/31/2021" being the most frequent response, reflecting the different timelines students are on to complete their studies.

### Q8: Type of Laptop Used (Q8.MicrosoftWindows, Q8.AppleMacBook, Q8.Other)

Survey Question: "Type of Laptop Used? Microsoft/Windows, Apple/MacBook, Other"

Insight: A majority use Microsoft Windows (64%), followed by Apple MacBooks (33%). This indicates a preference for mainstream operating systems among students, with a small fraction using alternatives.

### Q9: Employment Status (Q9.YesFullTime, Q9.WorkingButNotFullTime, Q9.NotWorking)

Survey Question: "Are you employed full-time while attending Mason? Yes, Full Time; Working, but not Full Time; Not Working"

Insight: About 31% of students work full-time, 14% work part-time, and nearly half (47%) are not working. This suggests a significant portion of students are fully dedicating their time to studies.

### Q10: Python Skill Level (Q10.Little/None to Q10.FluentExpert)

Survey Question: "What is your approximate current level of programming skill in Python?"

Insight: Most respondents are average users (42%), with few identifying as fluent experts. This suggests a moderate level of comfort with Python, but also room for skill improvement.

### Q11: R Skill Level (Q11.Little/none to Q11.Fluent/expert)

Survey Question: "What is your approximate current level of programming skill in R?"

Insight: Skills in R are mostly basic or intermediate, with only a few frequent users and very few experts. This shows a similar pattern of moderate familiarity as seen with Python.

### Q12: SQL Skill Level (Q12.Little/none to Q12.Fluent/expert)

Survey Question: "What is your approximate current level of programming skill in SQL?"

Insight: SQL skills also skew towards the lower end of proficiency, with no respondents claiming expert status. This highlights a potential area for skill enhancement.

### Q13: GitHub Use (Q13.Yes, Q13.No)

Survey Question: "Do you use GitHub for code repository and management?"

Insight: A third of respondents use GitHub, while the majority (67%) do not. This suggests that many students may not be leveraging GitHub for their coding projects or may lack familiarity with version control practices.

### Q14: Career in Data Science/Data Analytics (Q14.Yes, Q14.No, Q14.NotSure)

Survey Question: "Will you pursue your career in Data Science/Data Analytics field?"

Insight: Nearly half (47%) are inclined towards a career in data science, with a quarter undecided. This reflects strong interest, though some uncertainty remains among participants.